


.dreamcard{
    border: 2px solid grey;
    margin-top:5%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
    padding: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(5,5,5,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(5,5,5,1);
    box-shadow: 10px 10px 5px 0px rgba(5,5,5,1);
    color: blanchedalmond;
    
}

.dreamcard > .shareButt {
    position: absolute;
    right: 0;
    
    /* border-radius: 50%; */
    background-color: black; /* Green */
    border-radius: 12px;
    color: white;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    
}

