.bodyContainer {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}
.photosContainer {
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  flex-direction: column;
}

.photo {
  border: 1px solid #0d0d0d;
  padding: 10px;
  margin: 10px;
  display: inline;
  max-width: width 700px;
  max-height: 700px;
  width: auto;
  height: auto;
  border-radius: 4px;
  background: white;
}

.inputCont {
  display: flex;
  align-self: center;
  display: inline-block;
}

#searchInput {
  margin: auto;
  margin-right: 5%;
  background: transparent;
  color: #f0f0f0;
}

#searchButton {
  margin: auto;
  margin-top: 5%;
}

.loadMore {
  cursor: pointer;
}

#topBut {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  font-size: 18px;
}

#topBut:hover {
  background-color: #555;
}
